EFISIGNED = $(patsubst %.efi,%-signed.efi,$(EFIFILES))
MANPAGES = $(patsubst doc/%.1.in,doc/%.1,$(wildcard doc/*.1.in))
HELP2MAN = help2man
PKG_CONFIG ?= pkg-config
ARCH	 = $(shell uname -m | sed 's/i.86/ia32/;s/arm.*/arm/')
ifeq ($(ARCH),ia32)
ARCH3264 = -m32
else ifeq ($(ARCH),x86_64)
ARCH3264 =
else ifeq ($(ARCH),aarch64)
ARCH3264 =
else ifeq ($(ARCH),riscv64)
ARCH3264 =
else ifeq ($(ARCH),loongarch64)
ARCH3264 =
else ifeq ($(ARCH),arm)
ARCH3264 =
else
$(error unknown architecture $(ARCH))
endif
GEDIR		= $(TOPDIR)/gnu-efi
INCDIR		= -I$(TOPDIR)/include -I$(GEDIR)/inc -I$(GEDIR)/inc/$(ARCH) -I$(GEDIR)/inc/protocol
CPPFLAGS	= -DCONFIG_$(ARCH)
CFLAGS		= -O2 -g $(ARCH3264) -fno-stack-protector -fPIC -fPIE -Wall -fshort-wchar -fno-strict-aliasing
CFLAGS		+= -fno-merge-constants -ffreestanding -fno-stack-check -D__KERNEL__ -D_XOPEN_SOURCE=700
LDFLAGS		= -nostdlib -pie -z norelro -z nocombreloc --no-dynamic-linker
CRTOBJ		= $(GEDIR)/$(ARCH)/gnuefi/crt0-efi-$(ARCH).o
# there's a bug in the gnu tools ... the .reloc section has to be
# aligned otherwise the file alignment gets screwed up
LDSCRIPT	= elf_$(ARCH)_efi.lds
LDFLAGS		+= -shared -Bsymbolic $(CRTOBJ) -L$(GEDIR)/$(ARCH)/lib -L$(GEDIR)/$(ARCH)/gnuefi -T $(GEDIR)/gnuefi/elf_$(ARCH)_efi.lds
LOADLIBES	= -lefi -lgnuefi $(shell $(CC) $(ARCH3264) -print-libgcc-file-name)
FORMAT		= --output-target=efi-app-$(ARCH)
OBJCOPY		= objcopy
MYGUID		= 11111111-2222-3333-4444-123456789abc
INSTALL		= install
BINDIR		= $(DESTDIR)/usr/bin
MANDIR		= $(DESTDIR)/usr/share/man/man1
EFIDIR		= $(DESTDIR)/usr/share/efitools/efi
DOCDIR		= $(DESTDIR)/usr/share/efitools
HOSTCC		:= $(prefix)gcc
CC			:= $(prefix)$(CROSS_COMPILE)gcc
AS			:= $(prefix)$(CROSS_COMPILE)as
LD			:= $(prefix)$(CROSS_COMPILE)ld
AR			:= $(prefix)$(CROSS_COMPILE)ar
RANLIB		:= $(prefix)$(CROSS_COMPILE)ranlib
OBJCOPY		:= $(prefix)$(CROSS_COMPILE)objcopy

# Set verbose or nonverbose output similarly to automake's silent rules.
ifneq ($(V),1)
  HIDE=@
  ECHO=echo
else
  HIDE=
  ECHO=true
endif

ifeq ($(ARCH),x86_64)
  CFLAGS += -DGNU_EFI_USE_MS_ABI -mno-red-zone
endif

ifeq ($(ARCH),ia32)
  CFLAGS += -DGNU_EFI_USE_MS_ABI -mno-red-zone
endif

ifeq ($(ARCH),arm)
  LDFLAGS += --defsym=EFI_SUBSYSTEM=0x0a
  FORMAT = -O binary
endif

ifeq ($(ARCH),aarch64)
  LDFLAGS += --defsym=EFI_SUBSYSTEM=0x0a
  FORMAT = -O efi-app-aarch64
endif

ifeq ($(ARCH),riscv64)
  LDFLAGS += --defsym=EFI_SUBSYSTEM=0x0a
  FORMAT = -O efi-app-riscv64
endif

ifeq ($(ARCH),loongarch64)
  LDFLAGS += --defsym=EFI_SUBSYSTEM=0x0a
  FORMAT = -O efi-app-loongarch64
endif

%.efi: %.so
	@$(ECHO) "  OBJCOPY  $(notdir $@)"
	$(HIDE)$(OBJCOPY) -j .text -j .sdata -j .data -j .dynamic -j .rodata \
		   -j .rel -j .rela -j .rel.* -j .rela.* -j .rel* -j .rela* \
		   -j .areloc -j .reloc $(FORMAT) $*.so $@

%.so: %.o
	@$(ECHO) "  LD       $(notdir $@)"
	$(HIDE)$(LD) $(LDFLAGS) $^ -o $@ $(LOADLIBES)
	$(HIDE)nm -D $@ | grep ' U ' && exit 1 || exit 0

%.h: %.auth
	./xxdi.pl $< > $@

%.hash: %.efi hash-to-efi-sig-list
	./hash-to-efi-sig-list $< $@

%-blacklist.esl: %.crt cert-to-efi-sig-list
	./cert-to-efi-sig-list $< $@

%-hash-blacklist.esl: %.crt cert-to-efi-hash-list
	./cert-to-efi-hash-list $< $@

%.esl: %.crt cert-to-efi-sig-list
	./cert-to-efi-sig-list -g $(MYGUID) $< $@

getcert = $(shell if [ "$(1)" = "PK" -o "$(1)" = "KEK" ]; then echo "-c PK.crt -k PK.key"; else echo "-c KEK.crt -k KEK.key"; fi)
getvar = $(shell if [ "$(1)" = "PK" -o "$(1)" = "KEK" ]; then echo $(1); else echo db; fi)

%.auth: %.esl PK.crt KEK.crt sign-efi-sig-list
	./sign-efi-sig-list $(call getcert,$*) $(call getvar,$*) $< $@

%-update.auth: %.esl PK.crt KEK.crt sign-efi-sig-list
	./sign-efi-sig-list -a $(call getcert,$*) $(call getvar,$*) $< $@

%-pkupdate.auth: %.esl PK.crt sign-efi-sig-list
	./sign-efi-sig-list -a -c PK.crt -k PK.key $(call getvar,$*) $< $@

%-blacklist.auth: %-blacklist.esl KEK.crt sign-efi-sig-list
	./sign-efi-sig-list -a -c KEK.crt -k KEK.key dbx $< $@

%-pkblacklist.auth: %-blacklist.esl PK.crt sign-efi-sig-list
	./sign-efi-sig-list -a -c PK.crt -k PK.key dbx $< $@

%.o: %.c
	@$(ECHO) "  CC       $(notdir $@)"
	$(HIDE)$(CC) $(INCDIR) $(CFLAGS) $(CPPFLAGS) -c $< -o $@

%.efi.o: %.c
	@$(ECHO) "  CC       $(notdir $@)"
	$(HIDE)$(CC) $(INCDIR) $(CFLAGS) $(CPPFLAGS) -fno-toplevel-reorder -DBUILD_EFI -c $< -o $@

%.efi.s: %.c
	@$(ECHO) "  CC       $(notdir $@)"
	$(HIDE)$(CC) -S $(INCDIR) $(CFLAGS) $(CPPFLAGS) -fno-toplevel-reorder -DBUILD_EFI -c $< -o $@

%.crt:
	openssl req -new -x509 -newkey rsa:2048 -subj "/CN=$*/" -keyout $*.key -out $@ -days 3650 -nodes -sha256

%.cer: %.crt
	openssl x509 -in $< -out $@ -outform DER

%-subkey.csr:
	openssl req -new -newkey rsa:2048 -keyout $*-subkey.key -subj "/CN=Subkey $* of KEK/" -out $@ -nodes

%-subkey.crt: %-subkey.csr KEK.crt
	openssl x509 -req -in $< -CA DB.crt -CAkey DB.key -set_serial 1 -out $@ -days 365

%-signed.efi: %.efi DB.crt
	sbsign --key DB.key --cert DB.crt --output $@ $<

##
# No need for KEK signing
##
#%-kek-signed.efi: %.efi KEK.crt
#	sbsign --key KEK.key --cert KEK.crt --output $@ $<

%.a:
	@$(ECHO) "  AR       $(notdir $@)"
	$(HIDE)$(AR) rc $@ $^

doc/%.1: doc/%.1.in %
	$(HELP2MAN) --no-info -i $< -o $@ ./$*
